{% extends 'posts/base.html' %}

{% block title %}Post List - Kragaht{% endblock %}

{% block content %}
<div class="post-container">
    {% for post in posts %}
        <div class="post-card">
            <div class="post-image">
                {% if post.photo %}
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                {% else %}
                    <div class="placeholder-image"></div>
                {% endif %}
                <div class="read-post-container">
                    <a href="{% url 'posts:post_detail' post.slug %}" class="read-post">Read Post</a>
                    <div class="post-interactions">
                        <div class="arrow upvote" data-action="like" data-id="{{ post.id }}">&#9650;</div>
                        <div class="votes-number" id="votes-count-{{ post.id }}">{{ post.get_votes }}</div>
                        <div class="arrow downvote" data-action="dislike" data-id="{{ post.id }}">&#9660;</div>
                    </div>
                </div>
            </div>
            <div class="post-content">
                <div class="post-header">
                    <div class="post-title">{{ post.title }}</div>
                    <div class="post-meta">
                        <span>Author: {{ post.author.username }}</span>
                        <span>Date: {{ post.time_update|date:"d-m-Y H:i" }}</span>
                    </div>
                </div>
                <div class="post-description">
                    {{ post.content|truncatewords:20 }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
